.contactsBlock {
    background-color: #eeee91;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #e2c4f5;
}

.contactForm {
    background-color: #dab4f6;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactForm input, .contactForm textarea{
    width: 100%
}

.button {
    background-color: darkgrey;
    padding: 10px 20px;
}
