.skillsBlock {
    min-height: 100vh;
    background-color: #c0ec74;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #e2c4f5;
}

.skills {
    border: 1px solid;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
