.mainBlock {
    height: 100vh;
    background-color: #e2c4f5;

}

.text {
    width: 300px;
    background-color: whitesmoke;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
}
