.nav{
    border: 1px solid red;
    width: 300px;
    display: flex;
    justify-content: space-between;
    .inactive{
        margin-right: 10px;
        color: #fff;
        text-transform: lowercase;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }
    .active{
        color: #fff;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;

    }
}
