@import '../common/styles/sass/variables';
.footerBlock {
    background-color: $bgColor;
    .footerContainer {
        flex-direction: column;
        justify-content: flex-start;
        .socialIcons {
            width: 250px;
            background-color: #c8c5c5;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .socialIcon {
            width: 50px;
            height: 50px;
            background-color: #f3f1f1;
        }
    }
    .copyright{

    }
}



